.suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.type-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.797);
}
.type-container:hover {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0px 0px 31px 3px rgba(133, 133, 133, 0.28);
}
.type-container h1 {
  color: #c64343;
  margin-right: 10%;
  border-bottom: 1px solid black;
}
.type-container h2 {
  text-align: left;
}
.type-container .description {
  font-size: 1.6rem;
  color: #373737;
  font-weight: 100;
}
.type-container a {
  text-decoration: none;
  margin: 4% 0;
  color: black;
}
.type-container .address {
  margin-top: 10%;
  font-size: 1.6rem;
}
