.logo-header {
    display: flex;
}

h3 {
    margin: 0px;
    padding-left: 20px;
}

nav {
    padding:0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:first-of-type{
    cursor:pointer;
}