body {
  background: linear-gradient(
    0deg,
    #a01839 0%,
    #c64343 26%,
    #fff calc(20% + 1px),
    #fff 60%,
    #fff calc(60% + 1px),
    #fff 70%,
    #fff calc(70% + 1px),
    #fff 100%
  );
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
