body {
  background: linear-gradient(
    0deg,
    #a01839 0%,
    #c64343 26%,
    #ffffff calc(20% + 1px),
    #ffffff 60%,
    #ffffff calc(60% + 1px),
    #ffffff 70%,
    #ffffff calc(70% + 1px),
    #ffffff 100%
  );
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
